################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

*.ipch
*.db
*.suo
*.opendb
*.json
*.sqlite
*.exe
*.ilk
*.pdb
*.tlog
*.log
*.obj
*.pch
*.idb
